<div class="container">
  <h3><%= @list.name %></h3>
    <% @list.bookmarks.each do |bookmark| %>
      <div>
        <%= image_tag bookmark.movie.poster_url , style:'height:200px; width:auto;' %>
        <p><%= bookmark.movie.title %> (<%= bookmark.movie.rating %>)</p>
        <p><%= bookmark.movie.overview %></p>
        <p><%= bookmark.comment %></p>
        <p><%= link_to "Delete bookmark",
                       bookmark_path(bookmark),
                       data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
        %></p>
      </div>
    <% end %>
  <p><%= link_to "Add a movie", new_list_bookmark_path(@list) %></p>
  <p><%= link_to "Back to lists", lists_path %></p>
</div>
